<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PROMOCIONES ANDROID
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PROMOCIONES ANDROID</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    
    <ion-item>
      
      <ion-label>
        <h2>Samsung Galaxy M01 Core</h2>
        <h3>Address: Colonia Mariscal</h3>
        <h3>Latitude: 15.783471</h3>
        <h3>Longitude: -90.230759</h3>
        <h3>Precio: 100$</h3>
        
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Motorola One Vision Plus</h2>
        <h3>Address: San Lucas</h3>
        <h3>Latitude: 14.61075</h3>
        <h3>Longitude: -90.65681</h3>
        <h3>Precio: 280$</h3>
        
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Samsung Galaxy Note 10 Lite</h2>
        <h3>Address: San Juan</h3>
        <h3>Latitude: 14.71889</h3>
        <h3>Longitude: -90.64417</h3>
        <h3>Precio: 600$</h3>
        
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Huawei Honor X10 Max</h2>
        <h3>Address: Guatemala</h3>
        <h3>Latitude: 14.6229</h3>
        <h3>Longitude: -90.5315</h3>
        <h3>Precio: 220$</h3>
        
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Nokia C5 Endi</h2>
        <h3>Address: Villa Nueva</h3>
        <h3>Latitude: 14.52512</h3>
        <h3>Longitude: -90.58544</h3>
        <h3>Precio: 150$</h3>
        
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Xiaomi Redmi 9A</h2>
        <h3>Address: Antigua Guatemala</h3>
        <h3>Latitude: 14.56111</h3>
        <h3>Longitude: -90.73444</h3>
        <h3>Precio: 70$</h3>
        
      </ion-label>
    </ion-item>

    <ion-item>
      
      <ion-label>
        <h2>Xiaomi Redmi Note 9</h2>
        <h3>Address: San Juan</h3>
        <h3>Latitude: 14.71889</h3>
        <h3>Longitude: -90.64417</h3>
        <h3>Precio: 170$</h3>
        
      </ion-label>
    </ion-item>

    

  </ion-list>
  
  
</ion-content>
